@import 'https://fonts.googleapis.com/css?family=Montserrat|Open+Sans';

body {
	/* font-family: 'Source Sans Pro', sans-serif;*/
	font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4 {
	font-family: 'Montserrat', sans-serif;	
}

.post {
    margin: auto;
    width: 800px;
    padding: 12pt;
}

.highlighter-rouge pre {
	margin-left: 12pt;
	padding: 12pt;
	background: rgb(0, 36, 82);
	color: white;
}

.post-title {
	font-size: 2em;
}

.alternative-solution {
	margin-left: 12pt;
	padding: 12pt;
	background: cyan;
}