@import 'https://fonts.googleapis.com/css?family=Arimo|Source+Code+Pro';

body {
    font-family: 'Arimo', sans-serif;
    line-height: 1.5;
}

li {
    list-style-type: square;
}

.page-content {
    margin: auto;
    max-width: 42em;
    width: 42em;
    padding: 12pt;
}

.highlighter-rouge pre {
    padding: 12pt;
    background: rgb(0, 36, 82);
    color: white;
}

.post-title {
    font-size: 2em;
}

.alternative-solution {
    padding: 12pt;
    background: #00522D;
    color: white;
}

div.alternative-solution .highlighter-rouge pre {
    margin-left: 0pt;
}

pre {
    font-family: 'Source Code Pro', monospace;
}

.post p, .post ul, .post pre, .post .alternative-solution {
    margin-left: 4em;
}

.post .alternative-solution p {
    margin-left: 0;
}

.post .note {
    margin-left: 4em;
    background: #520025;
    color: white;
}

.post .note p {
    margin-left: 0em;
    padding: 12pt;
}

.post .note.minified {
    background: #999999;
    color: white;
}

.post .note.minified pre::before {
    content: "Skrátený zápis:\A";
    font-family: 'Arimo', sans-serif;
}

.post .note.minified.windows pre::before {
    content: "Skrátený zápis (Windows):\A";
    font-family: 'Arimo', sans-serif;
}

.post .note.minified pre {
    background: #999999;
    color: white;
    margin-left: 0;
}

.post .note.alias {
    float: right;
    clear: both;
    margin-left: 22em;
    width: 20em;
    background: #999999;
    color: white;
    padding-bottom: 12pt;
}
.post .note.alias ul {
    margin-left: 0;
    margin-top: -16pt; /* compensate for 'p' */
}

.post-content h1 {
    /* hide H1, as they are repeated in the page title */
    display: none;
}

.section-start {
    margin-top: 12pt;
}